Package: sdxpinn-quecmanager-beta
Version: 1.1.1-4
Architecture: aarch64_cortex-a53
Maintainer: Russel Yasol dr-dolomite@github.com Cameron Thompson iamromulan@github.com
Source: github.com/iamromulan
Description: A custom web UI desgined to run alongside luci for Quectel RM55x modems
Depends: sdxpinn-mount-fix, sdxpinn-patch (>= 2.5), libc, inotifywait, coreutils-timeout, uhttpd, sms-tool (>= 2025.1.19-APmod-iamromulan), jq, ookla-speedtest
Conflicts: sdxpinn-quecmanager
