Package: warp
Depends: libc, wgcf, luci-app-go-wireguard
Version: 1
Architecture: sdxpinn
Maintainer: iamromulan
Source: github.com/iamromulan
Description: Installs the 'warp' command to help setup Cloudflare WARP on SDXPINN
