Package: luci-app-tailscale
Version: 1.2.3-2
Depends: libc, tailscale, luci
Source: package/luci-app-tailscale
SourceName: luci-app-tailscale
Section: luci
Maintainer: OpenWrt LuCI community
Architecture: all
Description:  LuCI for Tailscale
