[Unit]
Description=Simpleadmin service to generate status from modem
Requires=socat-smd11.service

[Service]
ExecStart=/usrdata/simpleadmin/scripts/build_modem_status
Restart=always

[Install]
WantedBy=multi-user.target
