Description=Tailscale Web Interface
After=tailscaled.service
Requires=tailscaled.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usrdata/tailscale/tailscale web --listen 0.0.0.0:8088
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
