[Unit]
Description=Socat Serial Emulation for smd11
After=ql-netd.service

[Service]
ExecStart=/usrdata/at-telnet/socat-armel-static -d -d pty,link=/dev/ttyIN,raw,echo=0 pty,link=/dev/ttyOUT,raw,echo=1
# Add a delay to prevent the clients from starting too early
ExecStartPost=/bin/sleep 2s
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
