Description=Tailscale Web Interface
After=network.target tailscaled.service
Requires=tailscaled.service

[Service]
Type=oneshot
ExecStart=/usrdata/tailscale/tailscale web --listen 0.0.0.0:8088
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
