Package: luci-app-atinout-mod
Version: 1.3.4-20241006
Depends: libc, atinout, luci-compat
Source: package/luci-app-atinout-mod
SourceName: luci-app-atinout-mod
License: GPLv3
Section: luci
SourceDateEpoch: 1636930326
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 3790
Description:  Web UI for atinout modded by iamromulan preset for use on SDXPINN
