Package: sdxpinn-mount-fix
Version: 1.3.2
Architecture: aarch64_cortex-a53
Maintainer: Cameron Thompson iamromulan@github.com
Source: github.com/iamromulan
Description: Creates a usable mount space and overlay for SDXPINN modems. Dependencies bundled: libinotifytools and inotifywait
Depends: libc
