Package: sdxpinn-mount-fix
Version: 1.0.7
Architecture: aarch64_cortex-a53
Maintainer: Cameron Thompson iamromulan@github.com
Description: Creates a usable mount space and overlay for SDXPINN modems
Suggests: libinotifytools, inotifywait
Depends: libc
