Package: luci-theme-argon
Version: 2.3.2-r20250207
Depends: libc, curl, jsonfilter, luci-lua-runtime
Source: feeds/base/downloads/luci-theme-argon
SourceName: luci-theme-argon
Section: luci
SourceDateEpoch: 1739087731
URL: https://github.com/openwrt/luci
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 768000
Description:  Argon Theme
