[Unit]
Description=Simple Firewall Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usrdata/simplefirewall/simplefirewall.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
