Package: sdxpinn-patch
Depends: libc
Version: 3.0
Architecture: all
Maintainer: Cameron Thompson iamromulan@github.com
Source: github.com/iamromulan
Description: A general first system patch for SDXPINN OpenWRT
