[Unit]
Description=Simple Update Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usrdata/simpleupdates/simpleupdate d

[Install]
WantedBy=multi-user.target
