[Unit]
Description=TTL Override
After=ql-netd.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usrdata/simplefirewall/ttl-override start
User=root

[Install]
WantedBy=multi-user.target
