Package: cloudflare-warp
Version: 2024.12.554.0
License: unknown
Architecture: aarch64_generic
Maintainer: Cloudflare <support@cloudflare.com>
Installed-Size: 109659
Depends: dbus-utils, libc, ip-full, nftables-json, gnupg2-utils, libcap-bin, ca-certificates, libpcap1
Suggests: traceroute, libnss3-tools
Section: net
Priority: optional
Homepage: https://1.1.1.1
Description: Cloudflare Warp Client
