Package: ucode-mod-lua
Version: 1
Depends: libc, libucode20230711, liblua5.1.5
Source: feeds/luci/contrib/package/ucode-mod-lua
SourceName: ucode-mod-lua
License: ISC
Section: utils
SourceDateEpoch: 1738611490
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: aarch64_cortex-a53
Installed-Size: 71680
Description:  ucode to Lua bridge library
