[Unit]
Description=Telnet daemon for AT command smd7

After=socat-smd7.service
Requires=socat-smd7.service socat-smd7-from-ttyIN.service socat-smd7-to-ttyIN.service
ReloadPropagatedFrom=socat-smd7.service socat-smd7-from-ttyIN.service socat-smd7-to-ttyIN.service

StartLimitIntervalSec=2m
StartLimitBurst=100

[Service]
ExecStart=/usrdata/at-telnet/modem-multiclient.py
Nice=5
Restart=always
RestartSec=2s
# Increased log rate limits, so we can see what's going on.
LogRateLimitIntervalSec=5s
LogRateLimitBurst=100

[Install]
WantedBy=multi-user.target
