[Unit]
Description=Read from /dev/ttyIN and write to smd7
BindsTo=socat-smd7.service
After=socat-smd7.service

[Service]
ExecStart=/bin/bash -c "/bin/cat /dev/ttyIN > /dev/smd7"
ExecStartPost=/bin/sleep 2s
StandardInput=tty-force
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
