/*  */

/* import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Euclid+Flex:wght@400;500;600;700&display=swap');

/* use Poppins everywhere */
* {
  font-family: 'Poppins', sans-serif;
}

html {
  visibility: hidden;
}

html.theme-dark,
html.theme-light {
  visibility: visible;
}

.body-margin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100vh;
}

.column-margin {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.table.is-borderless td,
.table.is-borderless th {
  border: 0;
}

.cell {
  display: grid;
  height: 100%;
}

#handleRefreshClickButton {
  cursor: pointer;
}

#handleRefreshClickButton:disabled {
  cursor: wait;
  opacity: 0.7;
}

.fa-spin {
  animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#dataConnState .tag {
  transition: all 0.3s ease-in-out;
}